{% extends 'base.html' %}
{% load static %}
{% block edit_grill %}
<section class="container">
    <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-8">
            <h3>Изменять</h3>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-sm-12 ">
            <form action="" method="POST" class="bg-white p-3 rounded shadow">
                {% csrf_token %}
                {{grillfm.as_p}}
                <input type="submit" class="btn btn-primary" value="Вход">
            </form>
        </div>
    </div>

</section>
{% endblock edit_grill %}